body{
    background-image: url(./images/background.png);
}

#IEEE_logo{
    margin: 10px;
}

#About_us_heading{
    color: cyan;
    font-family: 'Cairo', sans-serif;
    margin: 20px;
}

.heading{
    color: cyan;
    padding: 10px;
    font-family: 'Cairo', sans-serif;
}

p{
    color:whitesmoke;
    padding: 10px;  
}

#Content{
    margin: 20px;
    padding: 10px;
    background-color: transparent;
    
    display: flex;
    flex-direction: row;
}

ion-icon{
    color: whitesmoke;
    font-size: 32px;
    position: relative;
}

#menuIcon{
    position:fixed;
    top: 10px;
    right: 10px;
}

#githubIcon{
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#instagramIcon {
    position: fixed;
    bottom: 15px;
    right: 65px;
}

#linkedinIcon {
    position: fixed;
    bottom: 15px;
    right: 115px;
}

#quote{
    font-family: 'Redressed', cursive;
    font-size: 50px;
    color:aquamarine;
    position: fixed;
    top: 70px;
    right: 80px;
}

p:hover {
    background-color: rgba( 128,0,128, 0.4 );
}
.column:hover{
    background-color: rgba( 50, 100, 83, 0.4 );
}
